.content {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;
}

/*Este lo puse nomas para guiarme hasta donde llega cada cosa*/

.defaultCont{
    border: 1px solid white;

}

/* CONTIENE TODO LO DEL CHAT ASI TODO COMPLETO*/

#contenedor-chat{
    display: flex;
    gap:10px;
    background-color: black;
    width: 80%;

    padding: 20px;
    border-radius: 20px;

    height: 85%;
}

/* PARTE IZQUIERDA*/

#cont-Usuarios{
    border: 1px solid white;
    flex: 20%;

    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contacto{
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
}

.contacto:hover{
    cursor: pointer;
    background-color: rgb(63, 63, 63);

}


/* PARTE DERECHA*/

#cont-mensajes{
    flex: 80%;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

/* HEADER DONDE DICE EL USUARIO*/

#cont-usuario{
    flex:10%;
    border-radius: 20px;

    display: flex;
    align-items: center;
    
    padding-left: 15px;
}

/* PARTE DEL CHAT*/

#cont-chat{
    padding: 10px;

    background-color: white;
    color: black;

    flex: 83%;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.msj-Yo{
    display: flex;
    gap:5px;
}

.msj-Otro{
    display: flex;
    gap:5px;
}

.Yo{
    color: red;
}

.Otro{
    color: blue;
}

.texto-msj{
    color: black;
}


#cont-input{
    display: flex;
    gap:10px;
    flex:7%;
}


#in-texto{
    flex: 70%;
    width: 100%;
}

#in-enviar{
    margin:0;
}
