body{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logIn-container, .signIn-container{
    
    background-color: rgb(49, 49, 49);
    border: 2px solid rgb(80, 80, 80);
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    font-size: clamp(15px, 4vw, 30px);
    display: flex;
    flex-direction: column;
    padding: 40PX;
    
}

.form-logIn, .form-signIn{
    display: flex;
    flex-direction: column;
    
}

.form-signIn label, .form-logIn{
    padding-top: 10px;
}

.signIn-container{
    width: 600PX;
}


input{
    
    background-color: rgb(75, 75, 75);
    border: 2px solid rgb(110, 110, 110);
    border-radius: 12px;
    padding: 8px;
    width: auto;
    font-size: clamp(15px, 2vw, 18px);
}

input:focus{
    
    outline: 3px solid #3498db
}


#btn_volver {
    background-color: #202020; /* Color de fondo */
}

.ir-registro{
    color: #2da3f1;
}