
*{
    margin: 0;
    padding: 0;
    text-decoration: none; 
    color: rgb(255, 255, 255);
}


body {
    font-family: 'Teko', sans-serif;
    background: linear-gradient(180deg, rgba(24,69,96,1) 0%, rgba(21,28,38,1) 60%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100vh; /* El alto del gradiente será siempre el alto de la ventana */
    
    min-height: 100vh;
    padding-left: 20%;
    padding-right: 20%;
}

.container{
    
    width: 100%;
    /*display: grid;
    grid-template-columns: 2fr 12fr 2fr;*/
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}  


.sidevar{
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100vh;

    background-color: rgb(8, 36, 53);
    border-right: 2px solid rgb(31, 66, 87);
    color:rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:first baseline;
    padding: 10px;
    font-size: clamp(15px, 2vw, 32px);
}

.sidevarTopUsers{

    position: fixed;
    top: 0;
    right: 0;
    width: 13%;
    height: 100vh;

    background-color: rgb(8, 36, 53);
    border-left: 2px solid rgb(31, 66, 87);
    color:rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:first baseline;
    padding: 20px;
    font-size: clamp(10px, 2vw, 24px);
}


.sidevar div{
   
    margin: 10px;
}

.sidevar .parteSuperior div {
    
    transition: transform 0.2s ease-in-out;
}


.sidevar .parteSuperior div:active {
    transform: scale(0.9);
    
}

.topUsersContainer{
    
}

.rankigUsuario{
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    background-color: rgba(150, 150, 150, 0.15);
}


.contacto:active{
    
}

.miPerfil{
    display: flex;
    align-items: center;
    gap: 10px;
}



button{
    font-family: 'Teko', sans-serif;
    background-color: #0f3d5a;
    font-size: 30px;
    padding-inline: 20px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

button:hover{
    
    background-color: #185b85;
}

label{
    font-size: clamp(15px, 2vw, 28px);
}

input{
    font-family: 'Teko', sans-serif;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    padding: 8px;
    width: auto;
    font-size: clamp(15px, 2vw, 18px);
}



input:focus{
    outline: 3px solid #3498db
}

.user-avatar {
    aspect-ratio: 1/1;
    width: 40px;
    height: auto;
    border-radius: 50%;
}

select{
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    font-family: 'Teko', sans-serif;
    padding: 10px;
}

option{
    background-color: rgba(255, 255, 255);
    color: rgb(73, 73, 73);
}

textarea{
    font-family: 'Teko', sans-serif;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.3);
    color: white;
    border-radius: 10px;
    font-size: clamp(15px, 2vw, 20px);
    resize: none;
    field-sizing:content;
    width: 700px;
}


textarea:focus{
    outline: 3px solid #3498db
}

textarea::placeholder{
    color:rgb(187, 187, 187);
}

.buttonBuzon{
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #0f3d5a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    transition: transform 0.2s ease-in-out;
}


.buttonBuzon:hover{
    transform: scale(1.1);
    background-color: #185b85;
    cursor: pointer;
}

.logOut{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logOut a{
    color: rgb(37, 144, 194);
}

.logOut .icon-logOut{
    color: rgb(37, 144, 194);
}

.oro-trophy{
    color: gold;
}

.plata-trophy{
    color: silver;
}

.bronce-trophy{
    color: #b16112;
}

#post-image{
    width: 100%;
    height: auto;
    

}

#post-video{
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
}