.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    

    font-size: 25px;
    margin: 20px;
    width: 100%;
    height: 100%;

}

/*Este lo puse nomas para guiarme hasta donde llega cada cosa*/

.defaultCont{
    border: 1px solid white;

}

/* CONTIENE TODO LO DEL CHAT ASI TODO COMPLETO*/

#contenedor-chat{
    display: flex;
    flex-direction: row;
    gap:10px;
    background-color: rgba(150, 150, 150, 0.15);
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    height: 85vh;
}

/* PARTE IZQUIERDA*/

#cont-Usuarios{
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    flex: 20%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contacto{
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 5px;
    transition: transform 0.1s ease-in-out;
}

.contacto:hover{
    transform: scale(1.03);
    cursor: pointer;
    background-color: #185b85;

}

.contacto:active{
    transform: scale(0.95);
}


/* PARTE DERECHA*/

#cont-mensajes{
    flex: 80%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

/* HEADER DONDE DICE EL USUARIO*/

#cont-usuario{
    flex:10%;
    border-radius: 10px;

    display: flex;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.3);
    padding-left: 15px;
}

/* PARTE DEL CHAT*/

#cont-chat{
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    background-color: rgb(233, 233, 233);
    flex: 83%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.msj-Yo{
    display: flex;
    gap:5px;
}

.msj-Otro{
    display: flex;
    gap:5px;
}

.Yo{
    color: red;
}

.Otro{
    color: blue;
}

.texto-msj{
    color: rgb(0, 0, 0);
}


#cont-input{
    display: flex;
    gap:10px;
    flex:7%;
}

#formulario-input{
    display: flex;
    gap:10px;
    width: 100%;
    height: 100%;
}


#in-texto{
    flex: 70%;
    width: 100%;
}

#in-enviar{
    margin:0;
}
